[2016-09-22 09:18] m4rc1e opened #2 "Combining marks"
Hey Alexei,

The combining marks should be [0 width](http://www.fileformat.info/info/unicode/char/0300/index.htm)

**Roboto**
![screen shot 2016-09-22 at 11 17 28](https://cloud.githubusercontent.com/assets/7525512/18742749/2f36d2d0-80b6-11e6-8a84-89a55ed8781f.png)

**Inconsolata**
![screen shot 2016-09-22 at 11 18 26](https://cloud.githubusercontent.com/assets/7525512/18742779/4dbbd976-80b6-11e6-

[2016-09-22 09:23] m4rc1e opened #3 "Accent Positioning"
Hey Alexei,

Some of the diacritic positions broke after commit 41c7bcb.

Please check the differences between the two. I think the problem may be the anchors, however this is also related to #2

**latest commit**
![screen shot 2016-09-22 at 11 09 19](https://cloud.githubusercontent.com/assets/7525512/18742896/d4ea4586-80b6-11e6-8814-c878b55bc392.png)

**41c7bcb**
![screen shot 2016-09-22 at 11 22

[2016-09-22 10:35] alexeiva commented on #2
This is how all my combining accents where built. I would need to update all my fonts.

[2016-09-22 10:36] m4rc1e commented on #2
Ooosh @davelab6 what do you think about this?

Apologies I am quite militant about specs. I guess this may not be such a huge issue.

[2016-09-22 10:48] alexeiva commented on #2
We should ask/search on glyphs forums. It is more convenient to have ~50 sidebearings during the drawing / anchor placement process.

My thought are — since there are anchors, does it eliminate the need for zero width glyphs?

I checked some system fonts:
Arial has zero width comb marks, and no anchors.

Dejavu has zero width and also an anchor.

![screen shot 2016-09-22 at 12 45 41](https://cloud

[2016-09-22 10:56] m4rc1e commented on #2
These glyphs fall under a category called [Mark, Nonspacing](http://www.fileformat.info/info/unicode/category/Mn/list.htm)

I'm guessing people put them on -50 because this would shift it over a base character, if a comp glyph didn't exist. Kinda like a safety not. Don't quote me on this, I could be wrong.

I've now written a check for my Glyphsapp QA tool to test this.
![screen shot 2016-09-22 at

[2016-09-22 11:01] alexeiva commented on #2
Best would be to fix this via your script.

What do you think about mekkablue's preflight font script — it's naming check is good.

Another question is vendorID — in case of a missing ID, and if the author isn't registered on mircosoft's website, what value should we use? Perhaps we can register a new ID for googlefonts?

[2016-09-22 11:09] m4rc1e commented on #2
Its difficult to implement a fix for this as an auto script.

What if someone has used the combmark as a composite?

If I set the metrics to 0 or a -50 offset, it could wreck their component glyphs.

Preflight font does not check this. However, it is a good tool.

I'm happy to write a script which will check if these comb glyphs are used as composites. If they are'nt, then they can be moved ;).

G

[2016-09-22 11:40] alexeiva commented on #2
Boom!

<img width="463" alt="screen shot 2016-09-22 at 13 39 03" src="https://cloud.githubusercontent.com/assets/16634089/18746837/02d860be-80ca-11e6-97d7-8e47b6f84c2b.png">

I just examined the exported Inconsolata TFFs:

![screen shot 2016-09-22 at 13 38 59](https://cloud.githubusercontent.com/assets/16634089/18746843/082b18a4-80ca-11e6-96ad-5a6357b25b4b.png)

[2016-09-22 11:41] m4rc1e commented on #2
I like, issue close ;)

[2016-09-22 11:41] #2 closed

[2016-09-22 11:44] m4rc1e commented on #2
Right, I also removed the test for this from my QA.

[2016-09-22 12:11] alexeiva commented on #3
Marc, thanks for digging deep into this.

The anchors were misplaced in commit e6a7b84. I relate this to a glyphs bug, I have been struggling with that week. I couldn't export TTFs, and Glyphs kept crashing.

The current Glyphs version fixes it.

Let me fix this in the new sources, and then we should sync the sources again.

If you have done any changes to this point — can you merge them into my s

[2016-09-22 12:13] m4rc1e commented on #3
Hey Alexei,

I've done no changes ;)

I'm QAing everything before I master ;)

[2016-09-22 13:24] #3 closed

[2017-02-01 15:21] davelab6 opened #6 "Interpolate Medium & SemiBold?"
Is this convenient/easy? :)

[2017-02-01 15:55] alexeiva commented on #6
Fairly easy. But still need to check for hidden shape order incompatibilities

[2017-03-20 12:15] m4rc1e commented on #6
The new instances are borked as you mentioned.

![screen shot 2017-03-20 at 12 13 03](https://cloud.githubusercontent.com/assets/7525512/24099354/981ef178-0d66-11e7-8e65-a3f129b68b76.png)

The master branch should always be a version of the project which is flawless. You should of ideally made these improvements in a seperate branch. Once you're happy, you'll then pr it and merge it into the maste

[2017-03-24 19:46] davelab6 opened #7 "weird shapes on the terminals of some letters (s,j,J,G,r)?"
https://twitter.com/joseaplata/status/844605730640547840 reports a strange issue with the letter endings....

[2017-03-27 08:23] alexeiva commented on #7
this is fixed since bffe5a9c138b25dedd1bad9332f87e470ec4e662

I need to roll back to bffe5a9c138b25dedd1bad9332f87e470ec4e662, and move the new developments commits to a dev branch. Then we can update.

[2017-03-27 08:30] alexeiva commented on #6
@m4rc1e  I've moved these commits to a `dev` branch.

[2017-03-27 08:38] alexeiva commented on #7
done...

@m4rc1e b3ba31bc0a0934af27ffb13ccac02887d572d443 fixes this issue. Can you check and push it live?

<img width="441" alt="screen shot 2017-03-27 at 11 36 10 am" src="https://cloud.githubusercontent.com/assets/16634089/24347700/d697a3ca-12e1-11e7-8c06-ef7315b855b1.png">
<img width="458" alt="screen shot 2017-03-27 at 11 36 14 am" src="https://cloud.githubusercontent.com/assets/16634089/243

[2017-03-27 09:18] m4rc1e commented on #6
Thank you sir

[2017-04-03 23:22] redoPop opened #8 "Cramped equals sign"
There seems to be slightly less space between the horizontal bars of the equals sign (`=`) compared with previous versions of the font.

I'm finding that the reduced gap hurts legibility.

[2017-04-07 09:57] alexeiva commented on #8
I agree. I am happy to revert to original spacing here.

Before. Top — legacy. Bottom — v.2.001
<img width="348" alt="screen shot 2017-04-07 at 12 43 21 pm" src="https://cloud.githubusercontent.com/assets/16634089/24795269/73e19390-1b91-11e7-841e-d2a10d2996b4.png">

After. v. 2.002
<img width="295" alt="screen shot 2017-04-07 at 12 46 28 pm" src="https://cloud.githubusercontent.com/assets/16634089

[2017-04-25 22:16] fearthecowboy opened #9 "Inter-line height is not the same as it used to be. (2.002 vs 1.013)"
(apologies for not knowing the 'font-terminology'... )

I recently downloaded a new version of Inconsolata and it has some significant changes from the previous:

![image](https://cloud.githubusercontent.com/assets/133736/25410119/d6405dfa-29c9-11e7-9184-59d66185df08.png)

There is a ton of extra whitespace in there... it doesn't feel right anymore 😢

Is that what you intended?

[2017-04-25 22:22] davelab6 commented on #9
Where (what programs/OS) are you seeing that?

[2017-04-25 22:24] fearthecowboy commented on #9
Windows 10 (the built-in font viewer),

after installing the new version of the font, my console windows seemed way out of whack, so I did some investigating.

[2017-04-25 22:38] fearthecowboy commented on #9
Hmm. I think VSCode (which is electron-based) isn't doing the same thing...

Weird: the console window (which I made translucent) is rendering different than the vscode editor (behind, and fainter)

You can see they start off around the same, but they eventually end up different:

![image](https://cloud.githubusercontent.com/assets/133736/25410670/0f7ffa82-29cd-11e7-9e3c-1204c05af75d.png)

[2017-04-25 22:39] fearthecowboy commented on #9
It feels like the console window is squishing the font when it renders

[2017-04-25 22:42] fearthecowboy commented on #9
Hey @bitcrazed is it possible that the font renderer for the console window is doing something weird here?

I'd think I shouldn't see differences in the same font between VSCode and the console.

[2017-04-25 22:47] fearthecowboy commented on #9
Both the Font Viewer and the console use GDI, which we may have run into a funny bug in the latest font.

[2017-04-27 07:18] alexeiva commented on #9
_Left: Inco 1 | Right: Inco 2_
<img width="679" alt="screen shot 2017-04-27 at 10 15 11 am" src="https://cloud.githubusercontent.com/assets/16634089/25472087/7a5e6670-2b32-11e7-82bd-9bc7cde05fef.png">

Regression test shows identical v-metrics
<img width="982" alt="screen shot 2017-04-27 at 10 12 54 am" src="https://cloud.githubusercontent.com/assets/16634089/25472095/7e9589d0-2b32-11e7-97c2-6008a

[2017-04-27 07:24] alexeiva commented on #9
My guess is the renderer uses winAscent(1004) to calculate line-heights instead of typoAscender(859). winAscent is meant for preventing clipping in tall glyphs, while typoAscender should affect line-height.

[2017-04-27 14:17] bitcrazed commented on #9
It's likely that GDI is calculating max height for a tall char because fixed width fonts are usually used in grid layouts (e.g. Console/terminal apps). Will check

[2017-06-01 14:58] m4rc1e opened #10 "Request: add glyphs for Kuni-Boazi language"
From a mail sent to me

---

Hi Raph, Marc, Alexei and Kirill

Greetings from Papua New Guinea.

Thank you very much for the Inconsolata font. I just downloaded the newest version (2.001) in the hope that it might correctly render the combining diacritics we need in the Kuni-Boazi language.
These are the combinations we use (here displayed with the Charis SIL font, if that comes out correctly on y

[2017-06-02 04:01] rfpng commented on #10
I realise that my Charis SIL font sample didn't come out right. Here is a screenshot:
![kuni-boazi test a nfd - charis](https://cloud.githubusercontent.com/assets/29136790/26710149/3b8a1202-479b-11e7-9673-4d0fe783db39.png)

And here is the same sample using the Consolas font:
![kuni-boazi test a nfd - consolas](https://cloud.githubusercontent.com/assets/29136790/26710211/9c8ee79e-479b-11e7-84d9-34

[2017-06-02 04:19] rfpng commented on #10
Thanks, Dave, for your note about using the Noto Mono font, but unfortunately this doesn't work either. Here is what it looks like:
![kuni-boazi test a nfd - noto mono](https://cloud.githubusercontent.com/assets/29136790/26710574/373af182-479e-11e7-8618-30753460cab4.png)

[2017-06-02 04:45] davelab6 commented on #10
@rfpng I don't mean you should try the Noto Mono font, I mean you should take Noto Sans (assuming it works as expected) and derive from it your own "RFPNG Mono" font that is monowidth

[2017-06-02 06:54] rfpng commented on #10
Thanks for the clarification. I'll look into that!

[2017-06-22 10:58] m4rc1e opened #11 "uhorn glyphs should overlap"
![screen shot 2017-06-22 at 11 56 20](https://user-images.githubusercontent.com/7525512/27430824-f997dca6-5741-11e7-99c4-c69653e5433e.png)

![screen shot 2017-06-22 at 11 57 50](https://user-images.githubusercontent.com/7525512/27430843-095c7b38-5742-11e7-9aaf-9474941ef35a.png)

[2017-06-22 10:59] m4rc1e opened #12 "no bar on Hbar"
![screen shot 2017-06-22 at 11 58 41](https://user-images.githubusercontent.com/7525512/27430879-2e944b10-5742-11e7-9d32-92dd39754bfb.png)

[2017-07-11 15:04] fearthecowboy commented on #9
@bitcrazed any progress on this?

[2017-07-12 13:32] davelab6 opened #13 "Add cp437 characters"
@tracker1 posted in https://github.com/google/fonts/issues/1047:

It would be really nice to have the missing translated characters for CP437 to unicode[1] added (namely shaded blocks, box,, and other "drawing" characters), which would aid in making this a more useful font for web-based terminal emulators.

I did not go through to identify all the missing characters, but did notice quite a few tha

[2017-07-12 13:33] davelab6 commented on #13
@tracker1 https://github.com/adobe-type-tools/box-drawing might help with this

[2017-07-12 15:52] alexeiva commented on #11
I've a déjà vu that I already fixed this. Probably in another font. This is a popular problem. Noted. Thanks.

[2017-07-17 21:23] tracker1 commented on #13
@davelab6 I know absolutely nothing of font editing... only know that I'd love to use this as a terminal/web font, but the missing drawing/block and other cp-437 characters make it a non-starter for me.  :-(

[2017-07-17 21:30] davelab6 commented on #13
@tracker1 cool - thanks for the suggestion :)

[2017-07-18 10:43] alexeiva commented on #13
Here you go @tracker1 : https://github.com/cyrealtype/Inconsolata/commit/c7430fc7bd97410c43ebfed07cb52dfb7f830887
![screen shot 2017-07-18 at 1 41 09 pm](https://user-images.githubusercontent.com/16634089/28313228-c7b8e46e-6bbe-11e7-8a00-f6995bb18203.png)
![screen shot 2017-07-18 at 1 41 04 pm](https://user-images.githubusercontent.com/16634089/28313229-c88cf2d6-6bbe-11e7-987b-3b90e4794f2b.png)

M

[2017-07-24 18:59] tracker1 commented on #13
@alexeiva  Nice, thank you so much!

[2017-07-24 19:09] tracker1 commented on #13
It looks like some of the characters aren't lining up, and that the charaters with lower hanging parts (p, q, y, etc) will overlap the box characters, and that the size of some of the characters aren't the same as the text.  Will try to give this a closer look over the weekend, for html rendering some ansi/ascii files, to see how it works in that case.

[2017-07-24 19:16] alexeiva commented on #13
Please post them here. This was a no-brainer script solution. Would be
better to tailor the whole set to match the font metrics based on your
input. Simply by a proportional scale down.

On Jul 24, 2017 22:09, "Michael J. Ryan" <notifications@github.com> wrote:

It looks like some of the characters aren't lining up, and that the
charaters with lower hanging parts (p, q, y, etc) will overlap the bo

[2017-12-06 18:18] davelab6 opened #15 "En Dash issue"
https://github.com/google/fonts/issues/1373

[2017-12-06 18:21] davelab6 opened #16 "Rendering issue in Adobe Illustrator"
https://github.com/google/fonts/issues/1366

[2017-12-11 16:58] #12 closed

[2017-12-11 16:58] #11 closed

[2017-12-11 16:59] #8 closed

[2017-12-11 17:00] alexeiva commented on #16
has been fixed in https://github.com/cyrealtype/Inconsolata/issues/7 but not pushed live yet

[2017-12-11 17:07] #15 closed

[2017-12-11 17:08] alexeiva commented on #15
hyphen, endash, emdash:

<img width="621" alt="screen shot 2017-12-11 at 9 06 11 pm" src="https://user-images.githubusercontent.com/16634089/33843616-4f1f58a0-deb7-11e7-9449-791a25fc2629.png">
<img width="601" alt="screen shot 2017-12-11 at 9 06 16 pm" src="https://user-images.githubusercontent.com/16634089/33843617-4f41b418-deb7-11e7-801a-371924953934.png">

[2017-12-11 17:09] #16 closed

[2017-12-12 00:31] tamsky commented on #15
Thank you very much!

[2018-02-26 22:53] appsforartists opened #17 "Ligatures for !==, ===, and =>"
There are three ligatures that are useful for JS development that I'd love to see in Inconsolata.  I've started implementing them (and will be testing them locally).

<img width="273" alt="screen shot 2018-02-26 at 10 51 14 am" src="https://user-images.githubusercontent.com/926648/36700458-9e34287e-1b04-11e8-9826-445aff81f25a.png">

Would you accept a PR that included them?

[2018-02-27 02:59] sleepiejohn commented on #17
I know little about font design, but wouldn't be easier to use FiraCode's ligatures and patch it on Inconsolata ?

[2018-02-27 03:14] appsforartists commented on #17
But why?  Inconsolata is its own font.  Having its own ligatures feels better both for the font and for the programming font ecosystem than frankensteining-on somebody else's glyphs.

[2018-02-27 05:46] appsforartists commented on #17
Thanks.

Personally, I'm only interested in adding ligatures for JavaScript.  (Of course, other designers are welcome to submit their own ligatures too.)  I actually like that we're only adding triple equals (rather than both double and triple, as in Fira) because it makes it obvious when you've forgotten the third one.

[2018-03-07 18:10] alexeiva commented on #17
@appsforartists you are welcome to PR. Here are [Build Instructions ][build]

@raphlinus mentioned on d-ligatures in this [discussion](https://groups.google.com/d/msg/googlefonts-discuss/wgVuOx9yo5k/snSXATRhDAAJ):

[build]: https://github.com/cyrealtype/Inconsolata#inconsolata-build-instructions

[2018-03-07 18:15] appsforartists commented on #17
Glad to hear it!  I'll open one.  😃

[2018-03-07 18:24] alexeiva commented on #17
We can make this feature default and include a patch script that removes dligs for users that do not need it. There is a similar script [here](https://github.com/alexeiva/jura/blob/master/sources/patch_dotted_zero.py):

[2018-03-08 07:36] #17 closed

[2018-03-08 07:59] alexeiva commented on #17
@appsforartists The widths of ligatures are fine: double or triple the normal size.

I fixed a few things:
* updated version number
* copied ligs to Bold to prevent ligatures from breaking during style swapping
* regenerated both styles

Here is [v.2.010 release](https://github.com/alexeiva/Inconsolata/releases/tag/v2.010)

[2018-03-08 10:04] alexeiva commented on #13
New bug detected: width of cp437 chars is `600` but should be `500`

[2018-03-20 22:59] davelab6 opened #21 "Move ligatures to dlig & cut new release"
@raphlinus emailed me,

This repo is the 'best upstream' repo today, which formerly lived at @alexeiva 's account. There is no 'release branch' per se, but there's https://github.com/googlefonts/Inconsolata/releases which shows where in the `master` branch Alexei considered a commit to be 'stable'

@appsforartists would you be willing to put your recent additions into the `dlig` feature? Thoughts

[2018-03-20 22:59] davelab6 commented on #21
cc @m4rc1e for releasing an update soon

[2018-03-20 23:28] appsforartists commented on #21
Don't mind me…just making Inconsolata "totally unusable" for the original author…

[2018-03-20 23:29] appsforartists commented on #21
I don't see `fi` ligaturing in Sublime, but I do in Code.  I agree that `fi` should not have a ligature in a programming-centric font.

[2018-03-21 00:01] raphlinus commented on #21
I should back up and say that there's a really good question of whether ligatures should be enabled by default or not, "totally unusable" is probably stating it too strongly - I was just not expecting it. I'm concerned about rendering of individual webpages changing. Some of the ligatures, like `=>`, are a fairly subtle change. Others are a much bigger change. For example, `<=` is no longer symmet

[2018-03-21 00:06] appsforartists commented on #21
@wbond can speak for Sublime and @auchenberg for VSCode.

What's the correct way to implement ligatures in a programming font, `dlig` or `liga`?  In either case, how do users explicitly opt in or out of ligatures?

[2018-03-21 00:12] appsforartists commented on #21
BTW, it makes me sad that @raphlinus doesn't have a [contributor] badge in the comments for his own font.  Can we add him to the repo?

[2018-03-21 00:20] davelab6 commented on #21
YES :)

I just transferred the repo from @alexeiva tonight, so yes that's a great idea and I'll do it now - please do file issues for anything else that should be done to the repo now its in the /googlefonts org :)

[2018-03-21 10:09] m4rc1e commented on #21
I'd prefer these to be put in the dlig feat as well.

I prefer operators to look like `<=` rather than `≤` in editors. It's just a case of familiarity and portability to me. I want my operators to look consistent across all my terminals and editors.

[2018-03-21 16:21] appsforartists commented on #21
Removed `fi` and `fl` in #22.

There's now a [dlig branch](https://github.com/googlefonts/Inconsolata/tree/dlig) with the programming-specific ligatures moved to `dlig`, but I'm not seeing them in Sublime or VSCode.  I don't recommend merging that branch until we have a better understanding of where editors get ligatures from, and how easy/hard they are to disable.

If there's a single "enable/dis

[2018-03-21 16:58] wbond commented on #21
The Sublime Text dev channel's implementation of ligatures (as of build 3157) sends sequences of symbols (unicode code points 33-47, 58-64, 91-96, 123-126) to the OS's text shaping library to create glyph runs. If it returns a ligature glyph, we use it. Otherwise individual code points or grapheme clusters are sent to obtain glyphs. Thus we only currently support ligatures based on sequences of AS

[2018-03-21 21:59] auchenberg commented on #21
Adding @alexandrudima from VS Code, as I don't know much about this.

[2018-03-22 10:37] alexeiva commented on #21
I marked https://github.com/googlefonts/Inconsolata/releases/tag/v2.012 as pre-release.
Agree that `fi` and `fl` should be removed, that was my oversight while making the full Latin Plus set.

[2018-03-23 02:35] davelab6 commented on #21
Thanks Alexei! I went ahead and merged @appsforartists PR :)

[2018-03-23 02:35] #21 closed

[2018-03-23 02:36] davelab6 commented on #13
@appsforartists would you be interested in resolving this? :D

[2018-03-23 02:36] #10 closed

[2018-03-23 02:37] davelab6 commented on #6
@appsforartists I also wonder if you would be interested in this? :D

[2018-03-23 02:38] davelab6 commented on #9
I'm going to close this as I assume the metrics are staying as they are now. Please re-open or file a new issue if this is still a problem for you :)

[2018-03-23 02:38] #9 closed

[2018-03-23 02:38] davelab6 commented on #7
@m4rc1e was this pushed?

[2018-03-25 20:14] nicknack23 opened #24 "Add Greek letters (for math)"
[Support for Unicode variable names is nearly universal in modern programming languages](https://rosettacode.org/wiki/Unicode_variable_names). In some languages use of Unicode identifiers is becoming quite widespread, especially using Greek letters in equations to make the notation as similar as possible to that of math & physics. Since the Google Fonts version of Inconsolata lacks Greek letters I

[2018-06-05 21:20] eclipseo opened #25 "Please keep tagging release on Github"
Please keep tagging releases and make archives in Github to that packagers can download them.
The 2.0.13 release is not tagged for example.

[2018-10-06 04:01] nirik opened #27 "2.012 doesn't seem to show a monospace spacing property"
Downstream bug: https://bugzilla.redhat.com/show_bug.cgi?id=1634793

Folks are reporting that 2.012 doesn't show as an option in gnome-terminal, apparently due to it not showing a spacing property so it doesn't see it as a monospace font. 2.000 works fine.

[2018-12-17 04:04] pdevine commented on #13
What version of Inconsolata is going to have these?  Just tried 2.000 and they're missing.

[2019-02-04 13:45] syamcr opened #28 "Handle problem with ligature not being suitable for all languages (eg. <= for VHDL)"
Inconsolata, recently, seemed to have gained a ligature for <=. However, such ligatures might not suit all contexts. For example, in VHDL, <= does not mean 'less-than-or-equal' and the ligature does not make sense.
I wonder how this problem can be solved, without fonts getting too language specific. Perhaps a ligature-free version can help.

[2019-02-12 12:50] lostinthesahara opened #29 "Italic and Bold Italic on the radar?"
I like how well this version is hinted, especially the TTF for Windows, and the ligatures, OH BOY OH BOY!!!

But I'm wondering if by any chance this is getting an Italic variant to it? Inconsolata LGC has one, but it can do with some improvements (i.e. that lowercase a looks damn close similar to lowercase o), I believe this is the original LGC repo with both Italic and Bold Italic variants:
https

[2019-02-19 08:06] syamcr commented on #21
I too recently noticed "fi" being rendered weirdly (on Fedora 29, Kate editor).
Another problem is that not all ligatures make sense in all contexts. For example <= is used as assignment operator in VHDL. The 'less than or equal' ligature therefore makes no sense.

Please release a no-ligature version that will not be language specific.

[2019-04-08 05:45] pkovacs commented on #27
The `IsFixedPitch` property appears to be set correctly in the ttf post table (that is the sentinel for monospace), but I think it's possible that fontconfig is "noticing" that there are many more widths now on various glyphs and refusing to pass this as a monospace font.   The older version of Inconsolata had one width (600) on all glyphs, but now there are widths of 0, 500, 600, 1000, etc.

[2019-07-24 10:44] fidalgo commented on #27
With the latest OTF from master I have the problem solved, but I cannot find the 2.013 release or tag, to ask downstream (Fedora Linux) for an update.

[2019-08-17 00:21] raphlinus commented on #28
I think this can be closed, the ligatures are all optional (dlig), except for the "Ligconsolata" variant.

[2019-08-17 00:40] raphlinus opened #32 "Variable font plans"
This issue sketches my plans for a variable font version, and asks for feedback regarding the exact parameters.

At first I plan to do a weight and width axis. I made a sketch of weights from 200 to 900, below:

<img width="339" alt="inco-weight-sketch3" src="https://user-images.githubusercontent.com/242367/63204254-987db980-c04a-11e9-97dd-8d88db663714.png">

I'm happy with this, but wonder whethe

[2019-08-17 01:59] davelab6 commented on #32
Replacing the 700 Master with a 900 seems likely to work well, so you can do 9 Masters instead of 12.

I can also see that doing an inconsolata sans with a mono-prop axis could be fun :) next year!

[2019-08-17 02:05] ctrlcctrlv commented on #32
A blacker maximum could be fun. Not many monospaced fonts get very black

[2019-10-05 16:35] davelab6 commented on #32
As shown in Roboto Extremo by @dberlow the heaviest weight needs to vary in stroke weight depending on pt size. What is the intended pt size of this design? :)

[2019-10-06 03:52] smasher164 commented on #13
Here is a test case that comes across when using Inconsolata in my work. For this text:
[code]
I get the desired behavior from Menlo:
![wantBox](https://user-images.githubusercontent.com/12636891/66263974-ad650680-e7ca-11e9-844d-798999f4fd4c.png)
But not from Inconsolata:
![gotBox](https://user-images.githubusercontent.com/12636891/66263973-ad650680-e7ca-11e9-8d7f-531cf179e1bc.png)

[2019-10-06 09:39] dberlow commented on #32
Issue with glyphs that have width restriction causing weight restrictions here: https://github.com/TypeNetwork/Roboto-Extremo/issues/50

What goes wrong with tab figs goes wrong with monospaced ‘m’ too.

[2019-10-10 23:48] cprivite opened #33 "Current release and plans?"
So the Readme.md file here shows the changelog for verisons 2.001, 2.011, and 2.013.
The Release list here only has 2.000 listed as a release, and 2.012 as a pre-release.
The actual Google Font repository has 2.001 committed to it (https://github.com/google/fonts/pull/714).
The google font page for Inconsolata gives users version 2.000.

So I have a few questions:
Which is the current produciton v

[2019-10-13 11:46] svipas commented on #33
I guess we should ask @raphlinus since he created the font.

I have several questions too:

1. There are 2 repos where we can download the font: https://github.com/google/fonts/tree/master/ofl/inconsolata and https://github.com/googlefonts/Inconsolata (this one). So which one is true source of latest and which one will receive future updates?

2. As I understand @raphlinus is creator of font, but

[2019-10-19 10:38] alinnert opened #34 "More ligatures"
I really love these very unique ligatures. I also like how well they scale. The lines of the `===` lig are evenly spread on many font sizes - more than in other fonts.

But I'm missing some I'm already used to. I think Fira Code is a great example of which ligatures could be implemented. It contains quite a few. But also some got removed again because they caused trouble in some circumstances. So,

[2019-10-20 03:39] cprivite commented on #27
Can someone who maintains the project make a 2.013 tag please? That'd help a few of us out.

[2019-10-20 04:00] cprivite opened #35 "PuTTY + Inconsolata 2.000+"
Long story short, the version 2.000+ versions of Inconsolata have 2-3 times the vertical spacing in PuTTY versus the 1.009 version. It works fine in other applications like Visual Studio Code. I'm around folks who use this font for Sublime, Visual Code, and PuTTY. So It'd be nice for us if it worked the same in all three. Is there a way to get a more programmer friendly version of the font to be p

[2019-11-05 00:57] raphlinus opened #36 "Box drawing characters width 600"
I'm looking at the entire character complement, and I see a lot of the box drawing glyphs have a width of 600, which is at odds with the 500 for most of the font. Does anybody know the story behind this? I'm strongly leaning towards just writing code to draw all of these, and it seems almost axiomatic to me they should have the same width as space, but I also don't want to break anything if there'

[2019-11-05 13:38] Tormenta74 opened #37 "Problem with the >= ligature"
I see that there are some ligatures defined, and most work just fine, but I don't get the `>=` ligature for some reason:
![image](https://user-images.githubusercontent.com/10568042/68212243-6c366100-ffd9-11e9-9d32-9f55e6afcab5.png)

I am using Visual Studio Code (1.39.2) in Linux using the Ligconsolata fonts directly (I installed it by putting it in my `/usr/share/fonts` directory).

[2019-11-06 23:11] tracker1 commented on #36
I requested support a while ago, and it was quickly added at that time.  However, I don't think it was ever properly tweaked to render correctly for sample text.

#13 and #31 which you found are a part of this.

[2019-11-06 23:17] raphlinus commented on #36
Ah thanks. It looks like master is wrong and this is something I can fix when I redo.

[2019-11-15 21:26] tracker1 commented on #13
#31 is tracking the scale/spacing issues.

[2019-11-15 21:30] raphlinus commented on #13
Yup, looking forward to fixing these. Probably next week.

[2019-11-18 08:44] krishnachaitanya9 opened #38 "No strikethrough Support"
This is a great font for coding, but there is no strikethrough support. Below is a picture of strikethrough text:
![image](https://user-images.githubusercontent.com/9385832/69037228-bab60900-09a4-11ea-9b79-a1ddee440d78.png)

Can you please kindly look into this? It would be really great to support strikethrough text, as I repeatedly use it in comments. Thanks!

[2019-11-28 09:47] fidalgo commented on #33
Since the person that created the releases @alexeiva is not active on github anymore, but @raphlinus had made some merges, so let's hope he can do a release.
@raphlinus can you comment on this?

[2019-11-28 13:50] alexeiva commented on #33
@fidalgo I am active on github, but not on Inconsolata.

[2019-11-29 23:01] cprivite commented on #33
Sounds like we have to get Google Fonts to assign a new maintainer then?

[2019-11-29 23:03] raphlinus commented on #33
I'm working on a major update and will do a release within the next couple of weeks. So far I've been fairly quiet on my development, but you can track the work in, currently, the autofix branch. Over the next few days I'll do some review of the outstanding issues, including vertical metrics.

[2019-11-29 23:05] cprivite commented on #33
Oh ok, thanks @raphlinus. Will the vertical metrics work help with the issues using the latest versions on PuTTy (large spaces between lines)?

[2019-11-29 23:10] raphlinus commented on #33
I hope so, yes. It would help if somebody were to do the research about what's going wrong there and how best to fix it, but I can also do this myself.

[2019-12-01 13:11] cprivite commented on #33
Sounds good, I think that answers my questions.

[2019-12-01 13:11] #33 closed

[2019-12-08 00:03] raphlinus commented on #35
Ok, I'm digging into this now. Unfortunately, any possible solution to this issue is a compromise. Also see #9 and #26.

Historically, the usWinAscent and usWinDescent values control *both* the line spacing and clipping of glyphs. In order to avoid clipping, these values must be large enough to hold the highest and lowest point of any glyph in the font. While 1.0 was carefully designed to fit into

[2019-12-08 02:37] cprivite commented on #35
What about releasing a version font without the Vietnamese (and also any future tall glyphs) in it so that English users can use the font in PuTTy without the issue? It can just be marked as for older programs or  terminal compatibility, maybe?

[2019-12-11 20:44] raphlinus commented on #38
I'm open to adding this, but curious what platform needs this character to support strikethrough - I just tested in Chrome and it seems to work fine.

[2019-12-11 20:52] raphlinus commented on #37
That's because this is triggered by `=>`, not `>=. Here's the relevant feature:

[code]

It's possible to add both, but then there's no distinction between the two. This would be a very serious problem in Rust code, as `=>` is used (eg) in match statements, and `>=` is used as the "greater than or equal" comparison.

I'm willing to fix this, but want guidance.

[2019-12-11 23:42] raphlinus commented on #7
I'm fairly certain this can be closed, the relevant version has been pushed.

[2019-12-12 00:52] #28 closed

[2019-12-12 00:54] raphlinus commented on #27
I think this will get solved by the 3.000 release, which is in PR #40. If you can locally test, that would be great, as it would also help uncover any additional possible bugs with the release.

[2019-12-12 00:56] raphlinus commented on #25
I'll tag the 3.000 release. Apparently not a lot of attention previously :/

[2019-12-12 01:37] cprivite commented on #35
Ok, I went to the PuTTY team and got a response.

Any idea what we could pass back to them to help them fix it? If you also don't know, that's fine, I just honestly don't know who else to ask. Maybe I can spend some time in 2020 learning low level font interpretation. :)

[2019-12-12 02:27] raphlinus commented on #35
I'll take a look and see what I can find. No doubt the problem is that they're using older Windows API's for this, in particular GDI+ rather than DirectWrite. It's not surprising that they didn't find the answer after searching Electron sources for five minutes - I've spent literally weeks understanding how Chromium (and Firefox) hooks into platform font code, especially around font fallback and r

[2019-12-12 08:09] yaneti commented on #27
fc-scan tells me all the ttf and otf fonts in PR #40 report a spacing property of 100. Which is what we need I think. Thanks

[2019-12-12 17:14] #13 closed

[2019-12-12 17:14] #32 closed

[2019-12-12 17:27] pdevine commented on #13
@raphlinus does your change fix all of these issues?
<img width="446" alt="Screen Shot 2019-12-12 at 9 20 24 AM" src="https://user-images.githubusercontent.com/75239/70734576-59dad180-1cc1-11ea-959f-624516202de1.png">

This was using Inconsolata 2.00 using Regular 10pt. If you have Docker on your machine, you can test this out with the command `docker run -it --rm pdevine/textinvaders`.

[2019-12-12 17:33] raphlinus commented on #35
Ok, I did some digging, and can offer a plan. I've been experimenting with the PuTTY code, but don't feel quite confident enough to prepare a patch - it's been a while since I've done serious work in C.

Basically, applications will need to read the relevant font tables themselves. Most of the code I looked at is based on a powerful graphics library such as Cairo. However, it's not a huge amount o

[2019-12-12 17:38] raphlinus commented on #13
@pdevine I wouldn't expect it to reduce the line spacing; this might be a consequence of the terminal using usWin metrics rather than typo metrics (see #35). I will create a "terminal" version of Inconsolata that reduces the usWin metrics as a workaround, but the longer term answer is to fix the software. I do expect the new release to address the block misalignment, but that also depends on wheth

[2019-12-12 17:53] pdevine commented on #13
@raphlinus no worries. That was taken using Apple's "Terminal" which does seem to suffer from the problem. iTerm2 does seem to be better in that regard.

[2019-12-12 18:02] raphlinus commented on #36
This should be fixed in the v3.000 release.

[2019-12-12 18:02] #36 closed

[2019-12-12 18:03] raphlinus commented on #6
I think we can consider this closed now that v3.000 has *much* greater coverage.

[2019-12-12 18:03] #6 closed

[2019-12-12 18:04] raphlinus commented on #27
I'm going to close this as v3.000 is out and should fix this, but please open a new issue if there are any remaining problems.

[2019-12-12 18:04] #27 closed

[2019-12-12 18:04] #7 closed

[2019-12-12 18:05] raphlinus commented on #37
If there are no reports of this with v3.000, I'll close it soon.

[2019-12-12 22:38] smasher164 commented on #13
First of all, thank you so much for adding these characters!
I am however seeing some of the lines exhibit uneven thickness when connected. This makes for a pattern-like effect instead of a straight line. Is it possible to address this?
![image](https://user-images.githubusercontent.com/12636891/70754773-0b035b00-1d06-11ea-925e-85e4000e0a8f.png)
![image](https://user-images.githubusercontent.com/1

[2019-12-12 22:40] raphlinus commented on #13
I don't think it would be straightforward, it's probably a function of your font renderer. One thing you can do is experiment with other fonts and see if they handle this better, then I could take a look and see what they do.

[2019-12-13 02:01] smasher164 commented on #13
On further evaluation, it looks to be renderer-dependent like you said. Chrome is giving me different behavior than sublime for the same fonts/sizes.

[2019-12-13 05:04] cprivite commented on #35
Wow. Thank you for this. I’ve forwarded it on to the PuTTY wishlist request email. Hopefully it’s what Simon needs. I imagine he’ll be disappointed it’s not just a matter of using a newer API call.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-13 10:39] m4rc1e opened #41 "Inconsolata v3.000 vs Google Fonts version"
Congrats @raphlinus, it looks great!

I've just diffed the fonts against the version we currently serve on Google. Here are some areas that could be improved before we push it to prod.

**Rendering**

The rendering diffs for OS X are the most minimal I've ever seen.

![Desktop_OS_X_High_Sierra_safari_11 1_](https://user-images.githubusercontent.com/7525512/70793055-67ac5780-1d92-11ea-93ce-213f95f3

[2019-12-13 10:42] m4rc1e commented on #41
AFAIK Google Fonts doesn't support multi axes VF atm. I'd like this to be our first one :-)

[2019-12-13 17:56] raphlinus commented on #41
Thanks for the feedback. I'm curious and surprised to see such changes in the Chrome rendering (especially of bold). The hints are all generated by ttfautohint, using the default settings. My understanding is that it should be applying a very light touch with horizontal displacements, but from your comparison images this is clearly not so. I want to understand this so will dig into it; I have some

[2019-12-13 18:55] raphlinus commented on #41
I'm having trouble reproducing the quality issues. Attached is a screenshot I made on my Windows 7 test device, using Chrome 78. This shows a weight waterfall from 200 to 900, with sizes 10px, 11px, and 12px. These are made from the files in the fonts/ttf directory, ie made from fontmake using ttfautohint. To my eyes, the hinting quality and spacing are topnotch. I also looked at it in IE 11 and t

[2019-12-13 19:05] m4rc1e commented on #41
My win screenshots were produced via Browserstack using Win 10 Chrome 69 at 1280x666 resolution. These specs are ancient but I always test on ridiculously low specs just to ensure we're safe.

I'm not testing the static fonts. I'm comparing the instances in the VFs against the static fonts we currently serve on Google Fonts. I'll try on newer Win browsers next week.

[2019-12-13 19:14] m4rc1e commented on #41
Sorry, I never mentioned our testing tools. We have the following:

[Fontbakery](https://github.com/googlefonts/fontbakery): Our linter
[GFRegression](http://35.238.63.0): compare local fonts against the same fonts on Google Fonts
[Font Diffenator](https://github.com/googlefonts/fontdiffenator): Compare 2 fonts against each other

Here's a GFR [url](http://35.238.63.0/compare/9d7dae18-6219-4912-b7

[2019-12-13 20:06] raphlinus commented on #41
I've done some more testing, and, long story short, think we have a serious quality issue in Chrome in *some* but not all configs. Below is a screenshot of the GF regression page on the "after" setting taken on my main Windows 10 machine, connected to a low-dpi monitor (1920x1080) monitor. On my Windows 7 box, which I keep around for compatibility testing, all variable fonts are rendered with thei

[2019-12-18 17:17] svipas commented on #29
@raphlinus Thanks for a v3 release which contains a lot of different weights including Bold. Could we expect to have italic version in the future?

[2019-12-20 13:11] m4rc1e commented on #41
I've been doing some further tests using ftview which is a FreeType test utility. You can find this in the freetype2-demos, https://www.freetype.org/download.html

I'm currently testing a multi axis version of Nunito which also suffers with the same rendering issue. It seems that having font hinting enabled is producing very bad spacing for multi axis VFs; possibly because it's snapping to whole p

[2019-12-24 08:12] agreselin opened #42 "Inconsolata v3.000 in Emacs has too wide spacing"
Hello, after upgrading to Inconsolata v3.000 on Fedora 31, letter-spacing has become too wide in Emacs, as shown in the attached screenshot; it shows the Emacs window I get on running `emacs -Q`. I'm running Emacs 26.3.

![Screenshot from 2019-12-23 10-03-52](https://user-images.githubusercontent.com/22297948/71402060-220e4b00-262c-11ea-909f-09ad94895c3a.png)

Note that the font works correctly in

[2019-12-28 18:15] techkid6 opened #43 "Interrobang support, please!"
Hi there! I was wondering if it would be possible to get support for the [Interrobang](https://en.wikipedia.org/wiki/Interrobang) character [(U+203D, ‽)](https://www.fileformat.info/info/unicode/char/203d/index.htm) in Inconsolata? The character itself is just an explanation point overlayed over a question mark. I use them a lot in informal writing and would love to be able to use the character in

[2020-01-06 20:50] mjmartineau commented on #42
I see this problem on Fedora 30. It happens with both emacs 26.2 and 26.3.

[2020-01-11 03:29] aterweele commented on #42
I can also repro on Emacs 27.0.50.

[2020-01-11 03:42] raphlinus commented on #42
This is very likely a bug in Emacs and not the font, though I'm happy to apply a workaround. I recommend filing a bug against Emacs and see if they can analyze it.

There are a couple of culprits which seem plausible. One is the ligatures (though if that were the case it would probably have triggered with an earlier version). Perhaps a more likely explanation is that when it assembles a family it

[2020-01-11 10:24] agreselin commented on #42
Done, here it is: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=39082

[2020-01-12 05:44] Eli-Zaretskii commented on #42
27.0.50 is an old development version of an unknown date.  Current Emacs master is at 28.0.50, and the `emacs-27` release branch is at 27.0.60.

Please make sure you are using the latest Emacs codebase, and make sure your build is with HarfBuzz, which is our default font-backend starting from Emacs 27.

FWIW, I see no problems with this font in Emacs 27, but I'm on MS-Windows, not on Fedora.  Mayb

[2020-01-12 05:57] Eli-Zaretskii commented on #42
Could you please elaborate on this?  What do you mean by "assemble a family", and what are the "expanded widths" and where do they come from?  And how is this different from the older versions of Inconsolata?

I'm not an expert on fonts, but with enough information I could try looking at the relevant Emacs code to see whether it gets confused by this font.

TIA

[2020-01-12 06:07] Eli-Zaretskii commented on #42
Also: are the problems with OTF or TTF version of the font?

[2020-01-12 06:26] Eli-Zaretskii commented on #42
And one more question: what does the below produce in an Emacs session with the problematic display?

        M-x set-variable RET eval-expression-print-length RET nil RET
        M-: (font-info (font-at 1)) RET

Please show the full output (take it from the `*Messages*` buffer if needed.)

[2020-01-12 12:12] agreselin commented on #42
I use the fonts from Fedora's `levien-inconsolata-fonts` package, which are TTF's.

I get `["-CYRE-Inconsolata-normal-normal-normal-*-19-*-*-*-m-0-iso10646-1" "Inconsolata:pixelsize=19:foundry=CYRE:weight=normal:slant=normal:width=normal:spacing=100:scalable=true" 19 21 0 0 0 29 17 4 29 29 "/usr/share/fonts/levien-inconsolata/Inconsolata-Regular.ttf" (opentype ((DFLT ...) (latn ... ... ... ... ...

[2020-01-12 12:51] Eli-Zaretskii commented on #42
And if you invoke Emacs as `emacs -Q -fn Inconsolata-12`, what happens then with the outout of the above command and with the spacing on display?

[2020-01-12 12:51] Eli-Zaretskii commented on #42
Also, can you try the OTF font?

[2020-01-12 14:16] agreselin commented on #42
`["-CYRE-Inconsolata-normal-normal-normal-*-19-*-*-*-m-0-iso10646-1" "Inconsolata:pixelsize=19:foundry=CYRE:weight=normal:slant=normal:width=normal:spacing=100:scalable=true" 19 21 0 0 0 29 17 4 29 29 "/usr/share/fonts/levien-inconsolata/Inconsolata-Regular.ttf" (opentype ((DFLT ...) (latn ... ... ... ... ... ... ... ... ...)) (DFLT (nil mark mkmk)) (latn (nil mark mkmk) (AZE\  mark mkmk) (CAT\  m

[2020-01-12 19:35] Eli-Zaretskii commented on #42
Using the related Emacs APIs, we've established that Emacs treats the glyphs of this font as if they had width of 29 pixels, instead of the expected 10 or thereabouts.  The way Emacs accesses the glyph metrics is as follows:

static void
xftfont_text_extents (struct font *font, const unsigned int *code,
		      int nglyphs, struct font_metrics *metrics)
{
  struct font_info *xftfont_info = (struct

[2020-01-13 08:57] rofrol opened #45 "Variant without bold and italic?"
How can I disable italic and bold? Is there such variant of this font?

[2020-01-13 10:14] Eli-Zaretskii commented on #42
According to https://lists.gnu.org/archive/html/bug-gnu-emacs/2020-01/msg00509.html, this seems to be a bug in Xft, and the workaround is to use the Cairo build of Emacs, which doesn't have this problem.
Xft seems to be unmaintained, and Emacs will probably deprecate its use in some future version.  So I guess a better way forward is to switch to the Cairo build.

[2020-01-13 19:19] raphlinus commented on #42
@Eli-Zaretskii Thanks for the update, that's useful. Do you know if there's a workaround that can be done in the font in the meantime?

[2020-01-14 05:55] Eli-Zaretskii commented on #42
Sorry, I have no idea.  Someone will have to debug Xft and find out where they fail, and then perhaps there could be a workaround in the font.  At this point, I don't even know which change in the font triggers this problem in Xft, I just know that both Cairo's `cairo_scaled_font_glyph_extents` API and MS-Windows `GetGlyphOutlineW` API do return correct advance data for this font, while Xft return

[2020-01-14 10:13] rpluim commented on #42
Fixing this in Xft is unlikely. Is it possible to identify which version of Inconsolata does not have this issue? If so, it might be possible to compare with the problematic version and fix it in the font.

[2020-01-14 13:24] rpluim commented on #42
Answering my own question: git bisect blames the following commit:

    59a0b4209de24c4b396298ba08bebb96d109062e is the first bad commit
    commit 59a0b4209de24c4b396298ba08bebb96d109062e
    Author: Brenton Simpson <appsforartists@google.com>
    Date:   Wed Mar 7 18:22:53 2018 -0800

        Added ligatures for !==, ===, =>, <=, and >=.

[2020-01-14 16:02] Eli-Zaretskii commented on #42
Thanks for identifying the culprit.  However, it is strange that providing ligatures for these somehow affected ASCII letters.  Does the actual change explain why that happened?

[2020-01-14 17:43] rpluim commented on #42
I don't know, it's a huge change and I don't know the format at all

[2020-01-20 10:38] D4N commented on #42
I can confirm that a Cairo build of emacs doesn't the font spacing issue.

[2020-01-21 14:02] drott commented on #41
CC @bungeman

[2020-02-29 18:49] cnshenj opened #46 "More font weight for Ligconsolata"
Currently Ligconsolata only has regular and bold. Please add at least light and medium first. Other weight or spacing can be added later if needed.

[2020-03-13 10:46] Donboscow opened #47 "What is the differences between Inconsolata 2.001 and 3.0?"
**There are two version of Inconsolata available one hosted in https://fonts.google.com/specimen/Inconsolata (version 2.001) and another here in this repo (version 3.000; ttfautohint (v1.8.3))**

- As a general users perspective what is the differences between these two versions?
- What is the advantages of 3.0 over 2.001?

I use this as default coding font.

[2020-03-14 10:34] sassmann commented on #42
xterm is suffering from the same issue, making Inconsolata 2.012 and following basically unusable in xterm. When comparing the width reported by
`xfd -fa Inconsolata`
For version 2.000 it reports a width of 8 while starting with 2.012 width is reported as 24.

That matches the output from xterm debug output (compiled with --enable-trace)
version 2.000:
[code]
version 2.012
[code]

[2020-03-23 13:28] tejohnso commented on #42
Seems Inconsolata 3 broke [st](https://st.suckless.org/) as well.

[2020-03-23 22:31] prosoitos commented on #42
Arch Linux:

- Emacs: problem described above (spaces)
- urxvt: inconsolata broken and defaults to some backup ugly font

[2020-03-24 06:27] lihaoyu1234 opened #49 "Problem With grave accent(U+0060)"
When I enter grave accent(``` ` ```, U+0060) twice, it's always a little higher than just typing in a single one, and the glyph is not consistent.

![image](https://user-images.githubusercontent.com/50037056/77394812-287da180-6d98-11ea-817f-1aa84cd929a3.png)

I want to cancel this feature.

[2020-03-24 06:33] lihaoyu1234 commented on #49
@raphlinus

[2020-03-24 20:12] drom opened #50 "Too wide in Chromium"
Chromium Version 80.0.3987.132 (openSUSE Build) (64-bit)

Inconsolata installed via OpenSuSe system repo.

On all pages using `Inconsolata` like this: https://json-schema.org/understanding-json-schema/reference/array.html

The font looks too wide like this:
![image](https://user-images.githubusercontent.com/511872/77472214-d016c600-6dd0-11ea-8804-0e52d693f1b4.png)

[2020-04-09 15:46] davelab6 opened #51 "Close stale issues"
Today https://github.com/googlefonts/Inconsolata/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc has 15 open issues, I'm guessing some are resolved by PR #44 and can be closed :)

[2020-04-18 21:21] dumblob commented on #35
I hope I'm not too late to the party, but could we also extend the amount of excluded things to all ligatures? The reason is the very same as for exclusion of Vietnamese chars etc. as described above. This time it seems ligatures don't work with the Xft library which has a bug, but won't be updated any more.

The easiest solution seems to simply exclude ligatures when building Inconsolata, but I c

[2020-04-18 21:25] dumblob commented on #42
See https://github.com/googlefonts/Inconsolata/issues/35#issuecomment-615951622 for an idea to allow building Inconsolata easily without ligatures which could actually completely avoid this problem (and if @raphlinus by default also provided an already built version of *Inconsolata without ligatures*, then it'd be super easy to just select this variant of Inconsolata in your app settings and all s

[2020-04-30 00:08] rajadain opened #52 "No Ligatures in Ligconsolata"
Hello,

Apologies if this has already been answered elsewhere, I could not find it in existing issues. I am unable to see ligatures when using Ligconsolata:

![image](https://user-images.githubusercontent.com/1430060/80658460-29b78380-8a54-11ea-9859-9bf4df2e2aa8.png)

I've tested in Sublime Text, VS Code, macOS Terminal, iTerm2, kitty, and Chrome (as a replacement for my GitHub font). I routinely

[2020-05-05 19:16] jimenezrick commented on #25
It would be great if we can have the last tag`v3.001` as well. Cheers for such a great font! :)

[2020-06-01 16:27] spwhitton opened #53 "How can vtt_hinting.ttx be regenerated?"
Hello,

I am looking into updating the version of Inconsolata in Debian.  It seems that the file sources/vtt_hinting.ttx does not get regenerated using the documented build process.  Could you explain how that file can be produced, please?

I won't be able to update Inconsolata in Debian unless it can be reproduced using only free software.

I don't know much about fonts -- thank you for your pati

[2020-06-01 17:55] raphlinus commented on #53
This file was generated using proprietary tools ([VTT](https://docs.microsoft.com/en-us/typography/tools/vtt/) in particular), and there certainly isn't a free toolchain that can do this. @m4rc1e may have more insight into what we can do here, particularly if we've had a similar experience with other free fonts for which there is a desire to make Debian packaged versions. See #48 for the original

[2020-06-02 00:49] spwhitton commented on #53
Thank you, this is very helpful.  It sounds like I can go ahead and rebuild and install all the files under fonts/ttf and fonts/otf for Debian, which would be an improvement over the current situation where we don't even have a bold variant.  If and when it's possible for us to rebuild the variable versions too, we can add them to the package.

[2020-06-02 00:54] raphlinus commented on #53
That sounds like a reasonable compromise. Best of luck!

[2020-06-02 08:18] m4rc1e commented on #53
As Raph pointed out, the hinting was made using Microsoft VTT. VTT doesn't produce the xml source. This is produced using DaMa's vttLib, https://github.com/daltonmaag/vttLib. It has the ability to dump, merge and compile hints.

AFAIK, you can download it for free here, https://docs.microsoft.com/en-us/typography/tools/vtt/. However, I don't know what license it has. The build chain will install v

[2020-06-02 08:24] m4rc1e commented on #53
Regarding your original question, you can produce the vtt_hinting.ttx file by doing the following from the parent dir:

[code]

[2020-06-02 16:43] spwhitton opened #54 "Cannot build OTF and TTF from Inconsolata-vf.glyphs"
I am attempting to follow the instructions in README.md to produce the static OTF and TTF fonts, but I run into this error:

    spwhitton@develacc:~/src/fonts-inconsolata>fontmake -g sources/Inconsolata-vf.glyphs -i -o otf
    INFO:fontmake.font_project:Building master UFOs and designspace from Glyphs source
    INFO:glyphsLib.classes:Parsing "sources/Inconsolata-vf.glyphs" file into <GSFont>

[2020-06-02 16:50] spwhitton commented on #53
Just to be clear, you use the mergefile command, execute (proprietary) VTT, and then use the dumpfile command?

[2020-06-02 16:51] m4rc1e commented on #53
Yes

[2020-06-02 18:58] spwhitton commented on #53
Thanks again.

[2020-06-02 18:58] #53 closed

[2020-06-13 19:51] rychkog opened #55 "Are there any plans to add a Cyrillic support to Inconsolate?"

[2020-06-13 19:58] raphlinus commented on #55
Not at the moment, but it's something to consider. One of the challenges is that the VF hinting is done by hand, and that would have to be redone after any major revision of the font.

Note that there is an [Inconsolata LGC](https://github.com/samposm/Inconsolata-LGC) project, but of course it doesn't have the range of weights and widths.

[2020-06-14 19:55] rychkog commented on #55
@raphlinus Thank you for the response! I understand that it is a huge amount of work and I'm aware of `Inconsolata LGC`, tough as you've said it's missing weights and ligatures and looks abandoned.
Nonetheless, I'm a big fan of a project and wish you all the best! Hope someday we'll see Cyrillic in here as well :)

[2020-08-03 16:06] rodrigoalcarazdelaosa opened #56 "Shapelier lower-case L"
The [`inconsolata` LaTeX package by Michael Sharpe](https://www.ctan.org/pkg/inconsolata) has an option which substitutes a more distinctive shape for all glyphs related to lower-case L. This image shows the difference:
![image](https://user-images.githubusercontent.com/9049533/89202845-db1a0800-d5b3-11ea-8aac-1e3062278f76.png) ![image](https://user-images.githubusercontent.com/9049533/89202862-e2

[2020-08-20 13:31] Liqiankun opened #57 "How to enable ligatures in vscode"
I downloaded Inconsolata from google font.
![截屏2020-08-20 21 30 54](https://user-images.githubusercontent.com/11532418/90776234-71785880-e32c-11ea-9169-56c7d69da8ee.png)
Here is my vscode settings.json file.
[code]
![截屏2020-08-20 21 29 38](https://user-images.githubusercontent.com/11532418/90776126-47bf3180-e32c-11ea-9122-57ed298f5ab8.png)

[2020-08-20 17:39] hd719 commented on #57
Not sure what's going on in the 3.0.0 release, but download the font (v2.012) [here](https://github.com/googlefonts/Inconsolata/releases/tag/v2.012) (Inconsolata-Regular.ttf)

If you use vscode in this file

`/settings.json`

[code]

[2020-08-20 17:40] hd719 commented on #52
Not sure what's going on in the 3.0.0 release, but download the font (v2.012) [here](https://github.com/googlefonts/Inconsolata/releases/tag/v2.012) (Inconsolata-Regular.ttf)

If you use vscode in this file

`/settings.json`

[code]

and it will work

[2020-08-20 18:53] t-e-r-m opened #58 "How to enable Ligatures in Emacs 28?"
Emacs 28 built with `HARFBUZZ` supports ligatures via `composite` (`(featurep 'composite)` to check)

Using DOOM Emacs , ligatures do not work with Inconsolata (and Ligconsolata) while they work for other fonts (without their specific config flags).

https://github.com/hlissner/doom-emacs/blob/f6f90c9791fa4a5e433bc42af52823bccfe1a362/modules/ui/ligatures/config.el#L174

Since the ligatures are exp

[2020-08-20 21:46] Liqiankun commented on #57
@hd719 I tried it out. Not working.

[2020-08-20 23:25] Liqiankun commented on #57
My bad! Reopen the project two. It works.

[2020-08-20 23:25] #57 closed

[2020-08-23 23:40] thlinard opened #59 "Mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =.
<img width="783" alt="Inconsolata" src="https://user-images.githubusercontent.com/13808824/90991607-c0cbbc80-e5aa-11ea-8d58-dafd9af2b9a7.png">

[2020-08-25 09:29] thlinard commented on #59
More complete specimen (1×<>+÷−¬=≠±≤≥3):
<img width="1506" alt="Inconsolata " src="https://user-images.githubusercontent.com/13808824/91157893-38dad500-e6c6-11ea-9d9e-17205032163f.png">

[2020-08-25 18:05] raphlinus commented on #59
I'll keep this in mind for future revision. I think the current state is slightly better than the previous 2.xx branch, but as you point out there are a few that are not supremely well aligned. Thanks!

[2020-08-30 16:29] dwiyatci commented on #52
I downloaded it from the `v3.000` tree:
- https://github.com/googlefonts/Inconsolata/blob/v3.000/fonts/otf/Ligconsolata-Bold.otf
- https://github.com/googlefonts/Inconsolata/blob/v3.000/fonts/otf/Ligconsolata-Regular.otf
- https://github.com/googlefonts/Inconsolata/blob/v3.000/fonts/ttf/Ligconsolata-Bold.ttf
- https://github.com/googlefonts/Inconsolata/blob/v3.000/fonts/ttf/Ligconsolata-Regular.tt

[2020-09-17 14:26] PyGamer0 opened #60 "λ not there"
I am using cmder and this font, but the problem is 'λ' is not being shown.

Can you add the lambda character(λ) to the font?

[2020-09-18 22:40] xiota opened #61 "Inconsolata PFM Family is "Decorative", should be "Monospace"."
Inconsolata is not available for use in some programs that allow only monospace fonts (eg, terminal emulators). The problem appears to be that it identifies itself as "Decorative" instead of "Monospace". Screenshot of FontForge Font Info is attached.

![](https://user-images.githubusercontent.com/8353098/93638826-dc10c880-f9ac-11ea-9224-1723bbefef62.png)

[2020-09-22 13:05] t-e-r-m commented on #58
I've managed to sidestep the problem using
https://github.com/ToxicFrog/Ligaturizer

It inserts ligatures from Fira Code into the target font. Fira Code's ligatures work without any extra configuration, and the same inserted into Inconsolata also work well. It does looks jarring, but I have turned off most 2/3 repeating character ligatures. I had to turn off the `--` ligature because it interfered

[2020-09-27 13:07] CrendKing opened #62 "Font name too long for Windows"
Windows font menu has limit of [31 characters](https://www.adobe.com/content/dam/acom/en/devnet/font/pdfs/5088.FontNames.pdf). Currently many names of the new variable style fonts are exceeding this limit. For example, "Inconsolata SemiExpanded SemiBold" is 33 characters. Therefore, even though these fonts can be installed in Windows, they can't be selected in any application.

Please think a way

[2020-09-27 13:42] CrendKing commented on #46
Or even further, the full variable font for Ligconsolata?

[2020-09-28 04:08] CrendKing commented on #54
The "Building the family" section says

Since the script is unusable without Glyphs, is Mac OS X required to build the font at all? If so, can you relax the requirement so Linux and Windows users can build too.

[2020-09-28 05:54] CrendKing opened #63 "Suggestion: Reduce Ascent and Descent values"
Currently the font leaves large amount of space in between lines, making it unfriendly to terminal applications. I experimented a few different `usWinAscent` and `usWinDescent` values in OS/2 table and found smaller values could produce a better user experience. Here's some illustrations (all taken with exactly same font size 14, same application and same content):

usWinAscent: 854 (down from the

[2020-09-28 22:10] downwith commented on #63
I came across pretty much the same issue because the Nerd Font patcher also uses usWinAscent/Descent to determine line height.  The Microsoft Typography documentation (https://docs.microsoft.com/en-us/typography/opentype/spec/os2#uswinascent) seems to regard this as a discouraged practice.  If you look at the other ascent values like sTypoAscender/Descender and the HHea pair, they are much closer

[2020-09-29 01:47] CrendKing commented on #63
According to my test, some applications (e.g. [ConEmu](https://github.com/Maximus5/ConEmu)) exclusively use usWin*, some (e.g. Visual Studio) exclusively use sTypo*. cmd.exe seems to use both in a weird way. Considering that the `USE_TYPO_METRICS` flag is on, they should use the latter, so those uses usWin* are maybe not wrong but better to be updated.

On the font side, I checked the OS/2 table o

[2020-10-22 10:38] amavlyanov commented on #47
You can find changes between these two versions in README file: https://github.com/googlefonts/Inconsolata#changelog-v3000

[2020-11-28 18:55] agreselin commented on #42
It looks allright now on Emacs 27. Is it ok if I close the issue?

[2020-11-28 22:32] dumblob commented on #42
@agreselin could you maybe leave it open and rename the issue to a more generic name to account for `xterm` and other Xft-only apps (instead of just Emacs)?

[2020-12-01 19:35] JasonBrownDeveloper commented on #42
For monospace fonts, Xft uses the max_advance_width global metric to move the pen after each glyph.  For Inconsolata, that's coming out at 20, but the advance.x for the individual glyphs seem to be 7.

[2020-12-02 21:32] mokulus commented on #42
I've check in st, and xOff value returned in XGlyphInfo is 3 times as high as it should be. As mentioned before it seems to be related to added ligatures (biggest ligature glyph, eg <=> is thrice as big as normal letter). In st apply this patch:
[code]
Increase the font with Ctrl+Shift+PageUp. The font looks normal.

[2020-12-13 00:33] JBlocklove commented on #42
I get the same font spacing issue with dmenu. I can confirm that the above patch fixed the font spacing issue in st for me, so tried to apply a similar patch to dmenu but with no luck. Shrinking the xOff value in dmenu's `drw.c` file seems to shrink the width of the window as a whole but has no affect on the text. Any ideas on what might help fix that?

[2020-12-14 00:13] prosoitos commented on #42
As an alternative to @mokulus's patch, using `Inconsolata Regular:family=mono` instead of inconsolata does the trick as well.

I tested this with success in urxvt:
[code]
and in st:
[code]

Maybe you can try that with dmenu?

As a side note, if that doesn't work, I use [rofi](https://github.com/davatorium/rofi) instead of dmenu (a replacement with added functionality) with inconsolata and I don't

[2020-12-14 01:11] JBlocklove commented on #42
No dice, still weird spacing. Thanks, though. And I used to use rofi, but I prefer dmenu.

[2020-12-26 10:50] chi-plus-plus opened #65 "Wrong alignment in Firefox and Chrome"
I'm using your font in my Web site, but the alignment on multiple columns like:

#define  STR_RGB    "colore RGB"
#define  STR_RED    "rosso"
#define  STR_GREEN  "verde"
#define  STR_BLUE   "blu"

is displayed correctyl only in Safari:

<img width="557" alt="Screenshot 2020-12-26 at 11 47 40" src="https://user-images.githubusercontent.com/61247652/103150056-6452f680-4770-11eb-8c3d-aecfed19bc24.png

[2020-12-30 23:13] itepechi commented on #65
I noticed that you have accidentally disabled Inconsolata for some characters. (` `, `!`, `"`, `#`, `$` and characters after `Ā`)

Removing `unicode-range: U+0025-00FF;` from `stili.css` will fix the problem.

[2021-01-01 00:31] chi-plus-plus commented on #65
Thank you! I don't know why I've added that line.
It's correct now.
Grazie! If you ever will be in Rome, I'll be happy to offer you a Campari and the best Carbonara in town.

C:

[2021-01-02 03:16] itepechi commented on #65
I'm happy to hear that; I wish to visit there someday!

I checked the website again, everything looks good. I think this issue can be closed now.

[2021-01-02 09:54] chi-plus-plus commented on #65
Yes. Thank you again.
C:

[2021-01-02 09:54] #65 closed, assigned to nobody

[2021-01-06 11:52] vith commented on #42
This is also affecting tk apps such as `gitk`. I don't know how the tk toolkit is choosing the default fonts but I had to uninstall `inconsolata-ttf` from my system to avoid the problem.

It also affects the tk example apps, so it's not `gitk` specific. Running `/usr/lib/tk8.6/demos/widget` and launching the `1. Basic editable text` demo from the `Text` category, I see the same problem.

On Arch L

[2021-01-07 06:53] WindSoilder opened #66 "Any thought on larger height"
First, thanks for your awesome font very much!!!

I saw this font have different `width` and `weight`, are there any ideas for different `height`?  Personally, I find [Inconsolata-g's](https://leonardo-m.livejournal.com/77079.html) is bigger than `Inconsolata`, I think it's better for High Resolution Screen

[2021-02-12 08:04] shahriarpshuvo commented on #52
In case of `version 3.000` - Installing the `otf` version rather `ttf` works for me on Windows 10.

[2021-02-12 08:06] shahriarpshuvo commented on #52
@rajadain Where to download `Liga Courier Prime`? 🤔 Seems legit works to me.

[2021-02-12 15:14] rajadain commented on #52
Courier Prime (and Courier Prime Sans and Courier Prime Code) are available here: https://quoteunquoteapps.com/courierprime/

I used Ligaturizer to add Fira Code ligatures to it: https://github.com/ToxicFrog/Ligaturizer

I've done that on many fonts and it works pretty well. My current setup is using a Ligaturized version of Inconsolata LGC: https://github.com/MihailJP/Inconsolata-LGC

[2021-02-12 15:55] shahriarpshuvo commented on #52
@rajadain Can you share your Courier Prime Liga patched one? :D

[2021-02-15 16:03] rajadain commented on #52
Unfortunately the computer on which I took those screenshots on has since passed away. Furthermore, I'm not sure I'd be at liberty to share any modified versions of Courier Prime under their license. It is simple enough to produce given the instructions above, won't take 10 minutes.

[2021-02-18 13:43] nirajd commented on #66
I wondered about this as well. I use Inconsolata as my system font and with default size settings (12pts usually), Inconsolata is considerably smaller than other monospace fonts.

Would be great to be able to use it without trying to tweak font size in various applications.

[2021-02-22 00:43] shahriarpshuvo commented on #52
@rajadain Sorry for late reply. I've already did that. 😁

[2021-03-05 13:14] kronikpillow commented on #42
Inconsolata is my favorite monospaced font, and i can't live without it, but I use suckless dwm/dmenu/st and i can't live without those either, and this problem exists in all 3 of them, anyone found a viable solution for this yet cuz i'm stuck to using the pre 2.012

[2021-03-05 14:27] JasonBrownDeveloper commented on #42
I'm sure this is not the correct fix for Xft, but this has been working for me for about two months now.

[code]

[2021-03-05 14:45] 0xc0392b commented on #42
I'm on 2.24.32 using Inconsolata 3.001.

I compiled from source using `./configure --with-cairo` and `(set-frame-font "Inconsolata")` in my .emacs.

I believe using Cairo over Xft is still experimental but I have been using my current build for three months and have had no issues.

[2021-03-30 01:59] kronikpillow commented on #42
wait what do you mean built from source using ./configure --with-cairo ? build the font from source with cairo?
I have no clue what you just told me @0xc0392b

[2021-06-28 23:19] aaronbell opened #67 "Update build process"
I'm helping Google Fonts to sort out `stat` table issues across the variable fonts library, and found that Inconsolata has an odd situation going on where "Regular" and "Bold" appear twice in Mac Word (We are testing in Mac Word as it is the most particular environment to ensure `fvar` and `stat` are in alignment.):
<img width="253" alt="Screen Shot 2021-06-28 at 3 26 29 PM" src="https://user-imag

[2021-07-30 02:43] samuelmtimbo opened #68 "Backtick rendering"
Hi,

First of all, I would like to thank you for this amazing font; the continuity of its curves is unmatched IMHO.

I am building a code editor and judged Inconsolata to be the perfect pick for the default font, however, there's an asymmetry on how the backtick character (`), is rendered in a couple cases. Here are some screenshots from Google Fonts:

1.1) More than one backtick with no character

[2022-01-01 22:05] spwhitton opened #69 "Fontconfig cannot determine a weight for some variants in Inconsolata-VariableFont_wdth,wght.ttf"
Hello,

[Emacs is crashing when Inconsolata-VariableFont_wdth,wght.ttf is installed](https://debbugs.gnu.org/cgi/bugreport.cgi?bug=52888) and I'm trying to understand why.  This is what I know.  We call FcFontList to obtain an FcFontSet, and then for each FcPattern in that list we produce a Lisp vector containing the attributes of the font, and that goes into the Emacs-specific font selection code

[2022-05-03 05:46] svipas opened #71 "Thin is the same weight as Regular (static fonts)"
Hello, @m4rc1e, thanks a lot for new 3.100 update!

As I understand new Thin weight was added together with this update, but what I found out is that it's actually the same weight as Regular.

### Regular
<img width="605" alt="Screenshot 2022-05-03 at 08 45 55 AM" src="https://user-images.githubusercontent.com/10441177/166409326-ae3898c9-f1b8-46ee-9149-b89932193f77.png">

### Thin
<img width="618"

[2022-05-03 07:35] m4rc1e commented on #71
Which version of OS X and font book are you running?

On 12.0.1, it looks fine:

<img width="999" alt="Screenshot 2022-05-03 at 08 35 05" src="https://user-images.githubusercontent.com/7525512/166418420-a1e54b4b-ca45-4d9f-b48c-c38b8eee0cbf.png">

<img width="999" alt="Screenshot 2022-05-03 at 08 35 13" src="https://user-images.githubusercontent.com/7525512/166418431-69d6be97-d1f3-4103-9ffc-226aeb5

[2022-05-03 09:22] svipas commented on #71
macOS Monterey (12.3.1 (21E258))
Font book: Version 10.0 (404)

I checked TTF & OTF and they have same issue, Regular weight == Thin weight.

But just to make sure, I installed variable font (`Inconsolata[wdth,wght].ttf`) and turns out that issue doesn't exist for variable font, it only exists for `otf` and `ttf`. I didn't test `webfonts` so maybe there's this problem as well.

[2022-05-03 09:32] m4rc1e commented on #71
Ok cool thank you!

I'll inspect the static fonts.

[2022-05-03 09:34] svipas commented on #71
Thank you very much @m4rc1e!

[2022-05-03 09:50] m4rc1e commented on #71
I've figured out what's happening.

The version we currently serve on [Google fonts](https://fonts.google.com/specimen/Inconsolata?query=inconsolata) doesn't have Thin styles. The family's designspace range is 200-900 so generating a Thin (100) is outside of this range. I'll remove the Thin instances so we've got ExtraLight-Black like we had before.

[2022-05-03 10:10] #71 closed, assigned to nobody

[2022-06-04 17:00] svipas opened #74 "Equal is misaligned"
If you take look at the screenshot you will see that `=` is misaligned and should be at lower position.

<img width="326" alt="Screenshot 2022-06-04 at 07 57 28 PM" src="https://user-images.githubusercontent.com/10441177/172017438-340bd6e2-2f59-4a2f-b245-20eb50e84354.png">

Font in the screenshot is `Inconsolata SemiCondensed` based on this commit: https://github.com/googlefonts/Inconsolata/commit

[2022-06-04 17:11] svipas opened #75 "Improve triple equal/not equal ligatures"
It would be nice if problems in the screenshot below could be fixed. If there is more characters do not render ligature.

<img width="61" alt="Screenshot 2022-06-04 at 08 08 49 PM" src="https://user-images.githubusercontent.com/10441177/172017867-341a5349-c1d1-4a18-991a-55cafa6b10aa.png">

Font in the screenshot is `Inconsolata SemiCondensed` with `dlig` based on this commit: https://github.com/go

[2022-06-21 20:48] hpax opened #76 "Width changes between 3.000 and main"
The width of the Extra Condensed, Condensed, Semi Condensed, Semi Expanded and Expanded have changed since 3.000. There is nothing in the git logs or FONTLOG.txt that seems to imply this is intentional.

The widths in 3.000 for all nine varieties are 250, 350, 400, 450, 500, 550, 600, 750, and 1000 milliem; in main (fc1fc21081558b39a2db43bfd9b65bf9acb50701) they are 250, 313, 375, 438, 500, 563, 6

[2022-06-21 20:51] hpax opened #77 "Build process documentation out of date"
The build process in README.md seems to reflect the build process as it was before gftools build was used. This was rather confusing to try to decipher.

[2022-06-21 21:13] hpax opened #78 "Building custom width variants"
I will apologize in advance if this is an ignorant question, I do not know a lot about font generation.

I am wondering if it is possible to use the Inconsolata sources to build arbitrary width variants. This is the motivation, in case this is interesting/useful:

I was looking at the Inconsolata fonts to generate output emulating an Epson dot matrix printer. I did some research into the 1980s era

[2022-07-25 14:27] svipas commented on #75
Seems like other fonts works like this, so I guess it's correct approach?

[2022-07-25 14:27] #75 closed, assigned to nobody

[2022-08-14 07:26] r-barnes commented on #24
Also hoping for this.

[2022-09-24 02:26] Bronnel721 opened #81 "Why Does Ə Look Like O?"
![Screenshot (46)](https://user-images.githubusercontent.com/92538982/192076205-ff12a53f-d8c7-4eac-a992-7df2e5d9d28f.png)

[2022-10-16 16:07] svipas commented on #66
@m4rc1e @raphlinus Please, could you consider this? Or at least say how we could do that by ourself from some build script? I need at least 14 font size for Regular or 15 font size for SemiCondensed for it to be usable and the problem is if I increase size in Visual Studio Code other widgets with different font looks enormous...

[2022-10-31 19:26] kepstin commented on #25
Note for reference that version 3.001 (as released on google fonts) corresponds to commit 540ba910bb13ab92147f8d064d6f9ec070fe1820 - see google/fonts@0f203e3

[2022-11-10 21:15] smemsh commented on #42
@mokulus curious where the value 18 came from in your [st patch](#issuecomment-737508890)? Your fix seems to work in st, but not with older versions of Inconsolata prior to these ligatures.  The `xOff` values returned by `XftTextExtentsUtf8()` in `&extents` are much larger than 18 for old vs new version of Inconsolata (on my system):
[code]
I do not understand where these large values are coming f

[2022-11-11 08:01] dumblob commented on #42
Wow, I thought xft upstream is long dead. If not completely, then it would make sense to submit a patch for this behavior there.

[2022-11-11 08:16] dumblob commented on #35
@cprivitere are you in contact with Simon and/or PuTTY team? I see https://www.chiark.greenend.org.uk/~sgtatham/putty/wishlist/typographical-metrics.html is still in an undecided state :cry:.

[2022-11-11 08:37] smemsh commented on #42
https://gitlab.freedesktop.org/xorg/lib/libxft/-/issues/15

[2022-11-11 09:09] dumblob commented on #42
@smemsh awesome, thanks a lot! I have now subscribed to that issue in their GitLab.

[2022-11-11 13:47] cprivitere commented on #35
I am not, no.

[2022-11-11 15:38] JasonBrownDeveloper commented on #42
I've been meaning to write a more in-depth analysis of this issue with examples, but I just haven't found the time.  Essentially there is no "bug" here on the part either side of libxft or Inconsolata, but a clashing of ideology.  Ultimately whose responsibility is it to maintain the monospacing of a font?  libxft makes the assumption that if a font says that it's monospace then advance width shou

[2022-11-11 22:50] dumblob commented on #42
@JasonBrownDeveloper thanks for your input and important observations. I am 100% convinced we must be **only pragmatic** in this case.

If your patch solves the problem (and IMHO it does), then let us spread the patch as much as we can to make it work for the next 10-20 years before Wayland(-like) systems will fully take over the reign of X11.

Finally a little nice thing would be to let other unr

[2022-11-13 22:31] smemsh commented on #42
Xft project has now merged @JasonBrownDeveloper 's `libxft` fix upstream,  so this issue may be complete.  See [aforementioned gitlab issue](https://gitlab.freedesktop.org/xorg/lib/libxft/-/issues/15).  Perhaps not the most correct fix, but it can help a lot of folks for now, so thanks.